# Ignore Gradle project-specific cache directory
.gradle

# Build output directories
build
out
bin

# IntelliJ project directory
.idea

# Gitpod
.theia
.settings
.classpath

# Generated source code
src-gen/**/*.java